
.styleDisp {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
}

.styleDisp img {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    border-radius: 8px;
}



.styleDisp .card-title {
    font-size: 18px;
    margin-top: 15px;
}


.styleDisp .card-text {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}


.styleDisp .card-text.disponibilidade {
    color: #27ae60;
}


.styleDisp a.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ff8181b1;
    color: #fff;
    transition: background-color 0.3s ease;
}


.styleDisp a.btn:hover {
    background-color: #ff8181;
}
