.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 550px;
}


.navbar{
    background-color: #818181;
    height: 120px;
    display: flex;
    align-items: center;
    
}

.logo2{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo2 i{
    font-size: 3em;
}

.logo2 p{
    color: black;
    font-family: 'Courier New', Courier, monospace;

}

.navLinks{
    display: flex;
}

a{
    max-width: 400px;
    display: flex;
    margin-top: 10px;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    letter-spacing: 3px;
}


/* Estilizando o botão */
.custom-dropdown .btn-secondary {
    background-color: #4CAF50; /* Cor de fundo personalizada */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor em forma de mão */
    border-radius: 5px; /* Borda arredondada */
}

.custom-dropdown .btn-secondary:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

/* Estilizando o menu dropdown */
.custom-dropdown .dropdown-menu {
    background-color: #f9f9f9; /* Cor de fundo do menu */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Sombra */
    border-radius: 5px; /* Borda arredondada */
    border: 1px solid #ddd; /* Borda */
}

/* Estilizando os itens do menu */
.custom-dropdown .dropdown-item {
    color: #333; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    text-decoration: none; /* Sem sublinhado */
}

.custom-dropdown .dropdown-item:hover {
    background-color: #ddd; /* Cor de fundo ao passar o mouse */
    color: #333; /* Cor do texto ao passar o mouse */
}
