
{% extends 'index.html' %}

{% block body %}
    <h1>Reservas</h1>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <ul>
        {% for user in users %}
            <li>{{ reserva.nome }} - {{ reserva.email }} - {{reserva.sala}} - {{reserva.data}}</li>
            <button class="btn btn-link" data-toggle="modal" data-target="#editModal-{{ user.id }}" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-link" data-toggle="modal" data-target="#deleteModal-{{ user.id }}" title="Excluir" style="color: red;">
                <i class="bi bi-trash"></i>
            </button>
        {% endfor %}
    </ul>
</div>
{% endblock %}
