<style>
  .custom-dropdown .btn-secondary {
      background-color: #ffffff; /* Cor de fundo personalizada */
      color: #ff0000; /* Cor do texto */
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;

  }
  .custom-dropdown .btn-secondary:hover {
      background-color: #d0d0d0; /* Cor de fundo ao passar o mouse */
  }
  .custom-dropdown .dropdown-menu {
      background-color: #ffffffdb; /* Cor de fundo do dropdown */
      border-radius: 10px; /* Bordas arredondadas */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  .custom-dropdown .dropdown-item {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: #333; /* Cor do texto dos itens */
  }
  .custom-dropdown .dropdown-item:hover {
      color: #000000; /* Cor do texto ao passar o mouse */
  }
  .navbar-nav .navLinks a {
      color: #ff0000; /* Cor do texto */
      margin-top: 0;
      text-decoration: none;
  }
  .navbar-nav .navLinks a:hover {
      color: #ff0000; /* Cor do texto ao passar o mouse */

  }
  .logo2 {
      display: flex;
      align-items: center;
  }
  .logo2 i {
      font-size: 24px;
      margin-right: 5px;
  }
  .logo2 p {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
  }
</style>
<nav class="navbar navbar-expand-lg" style="background-color: #ffffff;">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="gap: 320px;">
              <div class="logo2">
                  <img src="/media/logo/logosenaivermelha.png" alt="" style=" max-width: 200px; max-height: 200px ">
              </div>
              <div class="navLinks" style="align-items: center;" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                  <div class="dropdown custom-dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:0 ; letter-spacing: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                          Gerenciamento de Usuários
                      </button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'cadastro' %}">Cadastro</a></li>
                          <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'listaU' %}">Lista Usuários</a></li>
                      </ul>
                  </div>
        
                  <div class="dropdown custom-dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:0 ; letter-spacing: 3px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                          Reserva
                      </button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'reserva' %}">Reservar</a></li>
                          <li><a class="dropdown-item" style="font-weight: bold;" href="{% url 'listaReserva' %}">Lista Reservas</a></li>
                      </ul>
                  </div>
                  <a href="{% url 'disponibilidade' %}" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Disponibilidade</a>
              </div>
          </div>
      </div>
  </div>
</nav>